    body, html {
    			background-color: #E0E0E0; /* Цвет фона веб-страницы */
				min-width: 300px;         /* 2 x LC width + RC width */
				height: auto;
				margin: 0px; 
				padding: 0px;
				font-size: 15px;
    			font-family:   Arial, Helvetica, sans-serif;			
    		}
    input[type="button"], input[type="submit"], button  {
				border:0.2px solid #4f7696;
				background-color: #eef3f7;
				color: black;
				width:100px;
			}
		
	
    #container {
    			padding-left: 0px;      /* LC width */
				padding-right: 0px;     /* RC width */
				/*background-color: #ddd4e3; */
				height: calc(100% - 60px);				
    		}
    				
	.form{
				margin: 0px; 
				padding: 0px;
    		}
	
	
	#header {
    			height: 40px;
				text-align:center;

				background: linear-gradient(200deg,#f6ff3f,#3ff8ff,#3fb5ff,#e76ae5,#fe4e76,#fe834e,#7eb7ff);
				background: linear-gradient(90deg,#d179ab,#bccedc);
				/*background-color: #4f7696;*/
				color: #eef3f7;
				margin:0px;
				padding:0px;
    		}   	

	#container .column {
    			position: relative;
				float: left;
    			height: 100%;
    			/*border:0.2px solid #4f7696;*/
				overflow: auto;
				white-space: nowrap;
    		}
	
	#container .row{
    			text-align:left;             
				border-collapse:collapse;
				padding:10px;
				overflow:auto;
    		}	    
	
	.optinfo {
				padding-left: 40px;
				text-align:left; 
				overflow:auto;
				background-color: #f6fbfc;
				border:0.2px solid #4f7696;
				
			}     
	
	.opt_column1, .opt_column2 {
				width: 50%;
				position: relative;
				float: left;
				overflow: auto;
				white-space: nowrap;
			}	
			
	#center1 {
    			width: 20%;
				background-color: #bccedc;
    		}
    
    #center2 {
    			 
    		}	
    
    #center3 {
    			width: 80%;
				
    		}	
    
    #left {
    			width: 0px;             /* LC width */
    			right: 0px;             /* LC width */
    			margin-left: -100%;
				background-color: #E0E0E0;
    		}
    
    #right {
    			width: 0px;            /* RC width */
    			margin-right: -0px;    /* RC width */
				background-color: #E0E0E0;
    		}
    
    #footer {
    			clear: both;
    			position: fixed;
    			bottom: 0;
    			width: 100%;
    			height:20px;
    			background-color: #2c4254;
    		}
    
    #clearfix {
    			height:20px;
    		}		
    		
   
    table {
    			background-color: #f6fbfc;
    			border-collapse: collapse;
				border: none;
    			white-space: nowrap;  				
    		}		

    th{  		padding: 5px;
				font-size: 14px;
    			text-align:left;
				border: none;
    		}
	td{  		padding: 5px;
				font-size: 13px;
    			text-align:right;
				border: none;
    		}
   
    tr:hover {
    			background-color: #d179ab;
    		}
    		
	tr.heads{
				border-bottom: 2 px solid #233543;
				border-top: 0.2px solid #bdcedb;
    			/*height:35px;*/
				background-color: #355064;
				color: #ffffff;
				text-align:center;
    		}	
	
	tr.rmajor{	
				border-bottom: 2px solid #e91652;
				background-color: #c0d9f8;
				font-weight: bolder;	
			}
	
	tr.rfirst{	
				border-bottom: 2px solid #a50e43;
				border-top: 0.2px solid #a50e43;
				background-color: #c0d9f8;
				font-weight: bolder;	
			}
    		
    tr.rsecond{
    			border-bottom: 2px solid #015183;
				border-top: 1.5px solid #b3c6d7;
    			background-color: #c0d9f8;
				font-weight: bolder;	
    		}
	
	tr.rthird{
    			border-bottom: 1.75px solid #015183;
				border-top: 1.5px solid #b3c6d7;
    			background-color: #daeaf6;
				font-weight: bolder;	
    		}
			
	tr.rminor{
    			border-bottom: 1.75px solid #b3c6d7;
    			background-color: #cbd2d3;			
    		}		

	th.hthird{
    			padding-left:15px;			
				padding-right:5px;	
    		}
				
	
	th.hplain{
    			padding-left:25px;	
				padding-right:5px;	
				font-weight: normal;		
    		}
	


    	
    
			
    	
    
			