<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--<!DOCTYPE HTML>-->
<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

<title>Инвестиции_РФ_ГФ</title>
<!--
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="/static/styles4lat.css"/>
 
</head>

<body>

	<form class="form" name="myform">	
	<div id="header"> 
		<h2 style=" display:inline-block; float:left;  margin: 0px; margin-left: 15px; margin-top: 5px; padding: 0px; valign:middle;"> 
		Инвестиции РФ_ГФ New Age
		</h2>
		<button id="back_to_default_button" 				   type="button"  style=" display:inline-block; float:right; margin-right: 25px; margin-top: 5px; padding: 0px; width:200px;  height: 30px;">Выгрузить актуальные пулы</button>				
		<button id="submit_button" data-loading-text="Падажжи" type="button"  style=" display:inline-block; float:right; margin-right: 25px; margin-top: 5px; padding: 0px; width:120px;  height: 30px;">Отправить</button>
		<input type="radio" name="mode" value="table" checked> Таблица </input>
		<input type="radio" name="mode" value="details"  > Подробно</input>
		<input 												   type="button"  style=" display:inline-block; float:right; margin-right: 25px; margin-top: 5px; padding: 0px; width:120px;  height: 30px;"	 onclick="tableToExcel('tab_result', 'W3C Example Table')" value="Export to Excel">
		
		
		<input type="checkbox" id="status"  style="   margin-left: 65px; margin-top: 5px;   "> <label for="status">выкинуть лапсы</label>  </input>
	
	
	</div>  
	
	<div id="container">
		<script>
		   $(document).ready(function(){
//------------------------------------------------------------------------------------------------------------------------------
    		function implode_array(element_name, nvl='None')
    		{
    			var element_array = Array.from(document.getElementsByName(element_name));
    			console.log(element_array.length)
    			var element_value_array = [];
    			
    			element_value_array = element_array.filter(element => element.checked == true);
    			element_value_array = element_value_array.map(element => element.value); 
    			
    			if (element_value_array.length===0) { 
    				return nvl;
    				}
    			else {
    				return element_value_array.join(',')
    			};
    		};
//------------------------------------------------------------------------------------------------------------------------------

//вывести дефолтный список пулов
			//при загрузке страницы
			var strat=implode_array('strat[]',0);
				//собираем переменные и идем в ручку 
            $.get("/get_pool_list",{strat: strat},  function( pool_list ) { 
                    $("#upcenter1").html(pool_list); //div id куда должен встать результат из ручки
            });
			var mode=implode_array('mode',0);
			var status=document.getElementById("status").checked*1;
			$.get("/apriori", {mode:mode, status:status},  function(apriori) { 
                    $("#center3").html(apriori); //div id куда должен встать результат из ручки
                });		
			//по кнопке
			$("#back_to_default_button").click(function(){	
				var mode=implode_array('mode',0);
				var status=document.getElementById("status").checked*1;
                $.get("/apriori", {mode:mode, status:status}, function(apriori) { 
                    $("#center3").html(apriori); //div id куда должен встать результат из ручки
                });	
            });		
		
//подтянуть даты инвестирования в зависимости от выбранных стратегий	
			$("#getlist_button").click(function(){							
				var strat=implode_array('strat[]',0);
				//собираем переменные и идем в ручку 
                $.get("/get_pool_list",{strat: strat},  function( pool_list ) { 
                    $("#upcenter1").html(pool_list); //div id куда должен встать результат из ручки
                });
            });
			
//выгрузка остатков по пулам в виде таблицы			
			$("#submit_button").click(function(){
                var btn = $(this);
                btn.button('loading');
				//делаем строку из отмеченных чекбоксов
				var strat=implode_array('strat[]',0);
				var optdate=implode_array('optdate[]',0);
					optdate=optdate.split(',');
					optdate="to_date('"+optdate.join("', 'dd.mm.yyyy'), to_date('")+"', 'dd.mm.yyyy')";
				var mode=implode_array('mode',0);
				var status=document.getElementById("status").checked*1;
				//собираем переменные и идем в ручку 
                $.get("/get_selected_pools", {strat: strat, optdate: optdate, mode:mode, status:status}, function( result_table ) { 
                    $("#center3").html(result_table); //div id куда должен встать результат из ручки 
					btn.button('reset');
                });
            });
        });					 
		</script>
		
			<div id="center1" class="column">
				<div id="upleft" 		class="row"> 	
					
					<h4  style="padding: 0px; margin:0px;margin-bottom:5px;">Стратегии:</h4>
						
						<input type="button"   name="Check_All_strats" value="Снять все" class="butt" onClick="master_check('strat[]')" id="strat[]"> </br>			
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="1"  checked >   Глобальная экономика 3 года		  <Br/>		
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="2"  checked >   Лидеры фармацевтики                 <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="3"  checked >   Купонный доход                      <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="4"  checked >   Глобальная экономика 5 лет          <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="5"  checked >   Глобальная экономика 3 года - 2     <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="6"  checked >   Глобальная экономика 5 лет  - 2     <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="7"  checked >   Лидеры фармацевтики  - 2            <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="8"  checked >   Купонный доход - 2                  <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="9"  checked >   Сбалансированный портфель 3 года    <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="10" checked >   Сбалансированный портфель 5 лет     <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="11" checked >   Сбалансированный портфель 3.5 лет   <Br/>
						<input type="checkbox" name="strat[]" class="custom-checkbox" value="12" checked >   Купонный доход - 3                  <Br/>
				<!-- 	<input type="checkbox" name="strat[]" class="custom-checkbox" value="13" checked >   Смарт Капитал		                 <Br/> -->	

						</div>
			
										
				<div id="upcenter" 		class="row">  
					<button id="getlist_button" type="button"  style=" display:inline-block; float:left; margin-right: 25px; margin-top: 5px; padding: 0px; width:120px;  height: 30px;">Подгрузить даты</button><Br/>	
				</div>
				<div id="upcenter1" class="row"> 

				</div>
				
			
			</div>
			<div id="center2" class="column">
				<div id="upcenter" 	class="column">
	 			
				</div> 	
				<div id="downcenter" 	class="column">  

				</div> 	
				
			</div>
			<div id="center3" class="column">

				<!-- results from external function -->	
				
			</div>				
	</form> 
		
			<div id="left" class="column">
			</div>

			<div id="right" class="column">	   
			</div> 
		
	</div>
	<div id="clearfix">
	</div>
	<div id="footer">
			 <marquee direction="right" id="web2"  > Тестовый режим </marquee> 
	</div> 
	 







<script>
//функции для проставления чекбоксов "выбрать все"

function master_check(element_name)
{
chk = document.getElementsByName(element_name);
if(document.getElementById(element_name).value=="Выбрать все")

	{
	for (i = 0; i < chk.length; i++)
	chk[i].checked = true ;
	document.getElementById(element_name).value="Снять все";
	}
else{
	for (i = 0; i < chk.length; i++)
	chk[i].checked = false ;
	document.getElementById(element_name).value="Выбрать все";
	}
}
</script>


<script>
//экспорт данных в Excel

 function fnExcelReport() {
	 var dt = new Date();
        var day = dt.getDate();
        var month = dt.getMonth() + 1;
        var year = dt.getFullYear();
        var hour = dt.getHours();
        var mins = dt.getMinutes();
        var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
				
	 var tab_text = "<table border='2px'><tr bgcolor='#90b4d5'>";
     var textRange; var j = 0;
     tab = document.getElementById('tab_result'); // id of table
	
     for (j = 0 ; j < tab.rows.length ; j++) {		 
         tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
         //tab_text=tab_text+"</tr>";
     }
	  
     tab_text = tab_text + "</table>";
     tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
     tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
     tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
	 tab_text = tab_text.replace(/-/g, "0" );
	 tab_text = tab_text.replace(/,/g, "" );
	 tab_text = tab_text.replace(/\u0028/g, "-" ); 
	 tab_text = tab_text.replace(/\u0029/g, "" ); 

     let a = $("<a />", {
             href: 'data:application/vnd.ms-excel, ' + encodeURIComponent(tab_text),
             download: 'Portfolio_performance_' + postfix + '.xls'
         })
         .appendTo("body")
         .get(0)
         .click();
         e.preventDefault();
   //  }

     return (sa);
 }
</script>

<script type="text/javascript">
    
	var dt = new Date();
        var day = dt.getDate();
        var month = dt.getMonth() + 1;
        var year = dt.getFullYear();
        var hour = dt.getHours();
        var mins = dt.getMinutes();
        var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
	
	var tableToExcel = (function() {
          var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
          return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: 'Worksheet', table: table.innerHTML.replace(/-/g, "0" ).replace(/,/g, "" ).replace(/\u0028/g, "-" ).replace(/\u0029/g, "" )}
            window.location.href = uri + base64(format(template, ctx))
          }
        })()
</script> 

<script>		
//бегущая строка
	var i=0;
	/*var dt=new Array("0000A0", "A00000", "00A000", "00A0A0", "A000A0", "A0A000");*/
	var dt=new Array("e7fc6f","21d1ab","3fb5ff","ff7adc","fe4e76","fe834e","fed24e");
function cl() {// эта функция будет менять цвет текста
	document.getElementById("web2").style.color= dt[i];
	i++;
if (i>dt.length) i=0;
setTimeout("cl()",300);
}
cl();	// первый вызов размещаю после определения объекта
</script>

</body>
</html>